<div style="width: 500px; background-color:bisque; padding: 10px">
    <h1 style="color: greenyellow;">Thanks you!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, sed distinctio ipsa impedit, 
        quidem alias tenetur ipsam, assumenda unde reiciendis
        illo maiores voluptates. Nesciunt ducimus molestias esse aliquid, illum incidunt.
    </p>
</div>